    // --- Colección Usuarios ---
    match /usuariosAura/{userId} {
      // Permite leer a CUALQUIER autenticado (como hicimos para el login)
      allow read: if isAuthenticated();

      // Regla de escritura igual
      allow write: if isAuthenticated() && (request.auth.uid == userId || isOwnerOrAdmin());
    }
